<web-app xmlns="https://jakarta.ee/xml/ns/jakartaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_5_0.xsd"
         version="5.0">

    <display-name>Feedback App</display-name>

    <servlet>
        <servlet-name>FeedbackServlet</servlet-name>
       <servlet-class>com.feedback.servlet.FeedbackServlet</servlet-class>

    </servlet>
      <servlet>
        <servlet-name>ViewFeedbackServlet</servlet-name>
        <servlet-class>com.feedback.servlet.ViewFeedbackServlet</servlet-class>
    </servlet>

   

</web-app>
